<!-- Breadcrumbs -->
<app-breadcrumbs
  [items]="[{ label: 'Applications list', link: '/applications-list' }]"
/>

<app-page-header
  title="Applications List"
  [actions]="[
    {
      label: 'Create application',
      routerLink: ['create-entry'],
      startIcon: true,
      variant: 'primary',
    },
  ]"
>
</app-page-header>

@if (vm().createDone) {
  <app-success-banner
    heading="Application list created"
    linkText="The application list has been successfully created"
  />
}

@if (vm().moveDone) {
  <app-success-banner
    heading="Applications successfully moved"
    linkText="Applications have been successfully moved to the selected applications list"
  />
}

@if (vm().errorSummary.length || vm().updateInvalid) {
  <app-error-summary
    [title]="vm().errorHint || 'There is a problem'"
    (itemSelect)="onCreateErrorClick($event)"
    [items]="vm().errorSummary"
  />
}

@if (vm().updateDone) {
  <app-success-banner
    heading="Application list updated"
    linkText="The application list has been successfully updated"
  />
}

<!-- Tabs -->
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">Contents</h2>

  <ul class="govuk-tabs__list">
    <!-- Applications tab -->
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a
        class="govuk-tabs__tab"
        href="#applications"
        id="tab_applications"
        aria-controls="applications"
        aria-selected="true"
        (click)="onTabSelected('applications')"
      >
        Applications
      </a>
    </li>

    <!-- List details tab -->
    <li class="govuk-tabs__list-item">
      <a
        class="govuk-tabs__tab"
        href="#list-details"
        id="tab_list-details"
        role="tab"
        aria-controls="list-details"
        aria-selected="false"
        (click)="onTabSelected('list-details')"
      >
        List details
      </a>
    </li>
  </ul>

  <!-- Applications panel -->
  <div
    class="govuk-tabs__panel"
    id="applications"
    role="tabpanel"
    aria-labelledby="tab_applications"
  >
    <app-page-header
      title="Applications"
      size="l"
      [actions]="[
        {
          label: 'Bulk upload',
          variant: 'secondary',
          routerLink: ['bulk-upload'],
        },
      ]"
    >
    </app-page-header>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    @if (vm().rows.length || (!noEntries && !vm().isLoading)) {
      <!-- Sortable table component -->
      <app-sortable-table
        id="sortable-table"
        [columns]="columns"
        [data]="vm().rows"
        [loading]="vm().isLoading"
        [selectable]="true"
        [clientOrServerSort]="'server'"
        [sortKey]="vm().sortField.key"
        [sortDirection]="vm().sortField.direction"
        idField="id"
        (sortChange)="onSortChange($event)"
        (selectedRowsChange)="onSelectedRowsChange($event)"
        [(selectedIds)]="vm().selectedIds"
        appMojButtonMenu
      >
        <caption
          class="govuk-table__caption govuk-table__caption--m"
          id="sortable-Lists"
        >
          <span class="table-caption__text"> Entries </span>

          <span
            class="table-caption__actions"
            role="group"
            aria-label="Table actions"
          >
            @if (vm().selectedRows.length === 0) {
              <button
                type="button"
                class="govuk-button govuk-button--small govuk-button--primary table-caption__action-button"
                disabled
              >
                Actions
              </button>
            } @else {
              <div
                class="moj-button-menu"
                data-module="moj-button-menu"
                data-button-text="Actions"
                data-align-menu="right"
                data-button-classes="govuk-button govuk-button--small govuk-button--primary table-caption__action-button"
              >
                <button
                  type="button"
                  class="govuk-button moj-button-menu__item govuk-button--secondary"
                  (click)="onResultButtonClick()"
                >
                  Result selected
                </button>

                <button
                  type="button"
                  class="govuk-button moj-button-menu__item govuk-button--secondary"
                  (click)="onMoveButtonClick()"
                >
                  Move entries
                </button>

                <button
                  type="button"
                  class="govuk-button moj-button-menu__item govuk-button--secondary"
                  (click)="onPrintContinuousClick()"
                >
                  Print continuous
                </button>

                <button
                  type="button"
                  class="govuk-button moj-button-menu__item govuk-button--secondary"
                  (click)="onPrintPageClick()"
                >
                  Print page
                </button>
              </div>
            }
          </span>
        </caption>
        <!-- actions slot -->
        <ng-template #actionsTemplate let-row>
          <div
            class="moj-button-menu"
            data-module="moj-button-menu"
            data-button-text="Select"
            data-button-classes="govuk-button"
          >
            <!-- Open button -->
            <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--secondary"
              (click)="openUpdate(row)"
            >
              Open
            </button>

            <!-- Delete button -->
            <!-- TODO: implement thjs in ARCPOC-1281: https://tools.hmcts.net/jira/browse/ARCPOC-1281 -->
            <!-- <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--secondary"
            >
              Delete
            </button> -->
          </div>
        </ng-template>
      </app-sortable-table>
    } @else if (noEntries && !vm().isLoading) {
      <app-notification-banner
        id="noEntries"
        heading="No lists entries found"
        body="Try again, or "
        linkText="create a new list entry"
        [linkCommands]="['/applications-list', id, 'create-entry']"
      />
    }

    <!-- Pager -->
    <app-pagination
      [currentPage]="vm().currentPage"
      [totalPages]="vm().totalPages"
      (pageChange)="onPageChange($event)"
    />
  </div>

  <!-- List details panel -->
  <div
    class="govuk-tabs__panel govuk-tabs__panel--hidden"
    id="list-details"
    role="tabpanel"
    aria-labelledby="tab_list-details"
  >
    <app-applications-list-update
      [form]="form"
      [vm]="vm()"
      [statusOptions]="statusOptions"
      [placeState]="state()"
      [id]="id"
      [etag]="etag"
      [patchState]="patchStateFn"
      [setUpdateRequest]="setUpdateRequestFn"
      [suggestionsFacade]="suggestionsFacade"
      [listRow]="listRow"
    />
  </div>
</div>
