.float-right {
  float: right;
}

.govuk-table__caption--m {
  margin-bottom: 0;
}

:host ::ng-deep #noEntries .govuk-notification-banner {
  margin-bottom: 0;
}

:host ::ng-deep .app-sortable-table__frame {
  padding-bottom: 50px; /* Prevent vertical scrollbar on single records */
}

:host ::ng-deep .app-sortable-table__frame .moj-button-menu {
  position: relative;
}

.table-caption__actions {
  float: right;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

:host ::ng-deep .app-sortable-table__loading {
  inset: 0 0 50px 0;
}

.table-caption__actions .moj-button-menu,
.table-caption__action-button {
  margin-bottom: 1.75rem;
}
