<div [formGroup]="feeForm()">
  @if (feeRequired()) {
    <div class="govuk-form-group">
      <div
        class="govuk-checkboxes govuk-checkboxes--small"
        data-module="govuk-checkboxes"
      >
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="offSiteFee"
            type="checkbox"
            formControlName="hasOffsiteFee"
            (click)="onOffsiteFeeChange()"
            (keydown.enter)="onOffsiteFeeChange($event)"
          />

          <label class="govuk-label govuk-checkboxes__label" for="offSiteFee">
            Off site fee applies
          </label>
          <div class="govuk-hint govuk-checkboxes__hint">
            @if (autoSaveOffsiteFee()) {
              Selecting this will automatically apply the off site fee to the
              entry. This change is saved immediately.
            } @else {
              Selecting this will apply the off site fee to the entry.
            }
          </div>
        </div>
      </div>
    </div>
  }

  <section id="civil-fee-section">
    <h2 class="govuk-heading-s">
      {{ feeRequired() ? feeHeadingText() : 'No fee required' }}
    </h2>

    <app-sortable-table
      id="civil-fee-table"
      caption="Current fee statuses table"
      [hiddenCaption]="true"
      [columns]="civilFeeColumnsWithChangeLink()"
      [data]="feeStatusRows()"
      [dateFieldIdentifier]="'statusDateRaw'"
      noDataMessage="No fees exist for this entry."
      appMojButtonMenu
    >
      <ng-template #dateTemplate let-row>
        {{ row.statusDateRaw | dateTime }}
      </ng-template>

      <ng-template #actionsTemplate let-row>
        @if (row['paymentStatus'] !== 'DUE' && row['isLast']) {
          <a
            class="govuk-link"
            href="javascript:void(0)"
            (click)="onChangePaymentReference(row)"
          >
            Change
            <span class="govuk-visually-hidden">
              payment reference {{ row['paymentReference'] }}
            </span>
          </a>
        }
      </ng-template>
    </app-sortable-table>
  </section>

  @if (feeRequired()) {
    <h2 class="govuk-heading-s">Update fee status</h2>
  }
  <div class="govuk-grid-row">
    <!-- Fee status -->
    <app-select-input
      formControlName="feeStatus"
      label="Fee status"
      hint="Select the status of the fee to be paid"
      id="feeStatus"
      [options]="feeStatusOptionsWithPlaceholder()"
      [submitted]="showErrors()"
    />

    <!-- Status date -->
    <app-date-input
      formControlName="feeStatusDate"
      label="Status date"
      hint="For example, 15 5 2025"
      id="feeStatusDate"
      [submitted]="showErrors()"
      [disallowFutureDates]="true"
      containerWidthClass="govuk-grid-column-one-quarter"
    />

    <!-- Payment reference -->
    <app-text-input
      formControlName="paymentRef"
      label="Payment reference"
      hint="Enter the unique reference assigned to this payment"
      id="paymentRef"
      [error]="getControlErrorMessages('paymentRef')[0]"
    />
  </div>

  <div class="govuk-button-group">
    <button
      type="button"
      class="govuk-button"
      [disabled]="!feeRequired()"
      (click)="onAddFeeDetailsClick()"
    >
      Add fee details
    </button>
  </div>
</div>
