<app-breadcrumbs
  [items]="[
    { label: 'Applications list', link: '/applications-list' },
    {
      label: 'Applications list details',
      link: '/applications-list/' + vm().appListId,
    },
  ]"
/>

@if (vm().errorFound) {
  <app-error-summary
    [title]="vm().errorHint || 'There is a problem'"
    [items]="vm().summaryErrors"
    targetId="codes-table"
    (itemSelect)="onCreateErrorClick($event)"
  />
} @else if (vm().successBanner; as successBanner) {
  <app-success-banner
    [heading]="successBanner.heading"
    [body]="successBanner.body"
  />

  <!-- If your banner body doesn't support HTML links, render a link just under it -->
  @if (vm().successBanner!.link; as bannerWithLink) {
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a [href]="bannerWithLink.href">{{ bannerWithLink.text }}</a>
    </p>
  }
}

<h1 class="govuk-heading-xl">Applications list entry update</h1>

<h2 class="govuk-heading-l">Summary of application list entry</h2>

<form [formGroup]="form">
  <ng-template #applicantTpl>
    <app-applicant-section
      [form]="form"
      [applicantType]="applicantType"
      [personGroup]="personGroup"
      [organisationGroup]="organisationGroup"
      [submitted]="vm().formSubmitted"
      [errorItems]="applicantErrorItems"
      [selectedStandardApplicantCode]="selectedStandardApplicantCode"
      [savedStandardApplicantCode]="savedStandardApplicantCode"
      [savedStandardApplicantName]="savedStandardApplicantName"
      (standardApplicantCodeChange)="onStandardApplicantCodeChanged($event)"
      (standardApplicantSummaryChange)="
        onSelectedStandardApplicantSummaryChanged($event)
      "
      (applicantErrorsChange)="onChildErrors('applicant', $event)"
      [isUpdateDisabled]="isUpdateDisabled"
      (updateClicked)="onUpdateApplicant()"
      [showUpdateButton]="true"
      updateButtonText="Update applicant"
    />
  </ng-template>

  <ng-template #codesTpl>
    @if (vm().formReady) {
      <app-application-code-search
        [patchedFormData]="this.form"
        [parentSubmitted]="vm().formSubmitted"
        [lodgementDateDisabled]="true"
        (selectCodeAndLodgementDate)="onCodeSelected($event)"
        (codeSearchErrors)="onChildErrors('codes', $event)"
      />
    }
  </ng-template>

  <ng-template #wordingTpl>
    @if (vm().appCodeDetail; as appCodeDetail) {
      <app-wording-section
        #wordingSection
        [wordingObject]="appCodeDetail.wording"
        [wordingObjectValues]="getWordingObjectValues(appCodeDetail.wording)"
        [wordingSubmitAttempt]="wordingSubmitAttempt()"
        [showAppliedBanner]="wordingAppliedBannerVisible()"
        (wordingFieldsDTO)="onWordingFieldsDTO($event)"
        (appliedBannerDismissed)="onWordingAppliedBannerDismissed()"
        (wordingFieldErrors)="onChildErrors('wording', $event)"
      />
    } @else {
      <div class="govuk-inset-text">Please select an application code.</div>
    }
  </ng-template>

  <ng-template #respondentTpl>
    <app-respondent-section
      [form]="form"
      [personGroup]="forms.respondentPersonForm"
      [organisationGroup]="forms.respondentOrganisationForm"
      [respondentEntryTypeOptions]="respondentEntryTypeOptions"
      [bulkAllowed]="vm().bulkApplicationsAllowed"
      [personTitleOptions]="personTitleOptions"
      [submitted]="vm().formSubmitted"
      [errorItems]="respondentErrorItems"
    />
  </ng-template>

  <ng-template #civilFeeTpl>
    <app-civil-fee-section
      #civilFeeSection
      [civilFeeColumns]="civilFeeColumns"
      [feeStatusOptions]="feeStatusOptions"
      [feeForm]="civilFeeForm"
      [feeMeta]="feeMeta"
      (addFeeDetails)="onAddFeeDetails($event)"
      (civilFeeErrors)="onChildErrors('civilFee', $event)"
      (offsiteFeeChanged)="onOffsiteFeeChanged($event)"
      [feeRequired]="vm().isFeeRequired"
      [autoSaveOffsiteFee]="true"
      [parentSubmitted]="vm().formSubmitted"
      [changePaymentReferenceStateFactory]="buildChangePaymentReferenceState"
    />
  </ng-template>

  <ng-template #notesTpl>
    <app-notes-section
      [form]="applicationNotesForm"
      (notesErrors)="onChildErrors('notes', $event)"
    />
  </ng-template>

  <ng-template #resultWordingTpl>
    <app-result-wording-section
      [resultApplicantContext]="resultApplicantContext"
      [resultCodesList]="resultsFacade.resultCodesSignal()"
      [existingResults]="resultsFacade.entryResults()"
      [clearPendingToken]="resultsFacade.clearPendingToken()"
      [wordingByCode]="resultsFacade.resultCodeWordingByCode()"
      [resultCodeTemplateByCode]="resultsFacade.resultCodeTemplateByCode()"
      (pendingChange)="onPendingChange($event)"
      (submitResults)="onSubmitResults($event)"
      (removeExisting)="onRemoveResult($event)"
      (wordingFieldErrors)="onChildErrors('resultWording', $event)"
    />
  </ng-template>

  <ng-template #officialsTpl>
    <app-officials-section
      [group]="form"
      [errors]="vm().summaryErrors"
      (saveOfficialsClicked)="onSaveOfficials()"
    />
  </ng-template>

  <app-accordion
    [id]="'accordion-default'"
    [items]="[
      { heading: 'Applicant', tpl: applicantTpl, expanded: false },
      { heading: 'Application codes', tpl: codesTpl, expanded: false },
      { heading: 'Wording', tpl: wordingTpl, expanded: false },
      { heading: 'Respondent', tpl: respondentTpl, expanded: false },
      { heading: 'Civil fee', tpl: civilFeeTpl, expanded: false },
      { heading: 'Notes', tpl: notesTpl, expanded: false },
      { heading: 'Result wording', tpl: resultWordingTpl, expanded: false },
      { heading: 'Officials', tpl: officialsTpl, expanded: false },
    ]"
  />

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" (click)="onUpdateApplication()">
      Save complete application
    </button>
    <a
      class="govuk-button govuk-button--secondary"
      [routerLink]="['/applications-list', vm().appListId]"
    >
      Cancel
    </a>
  </div>
</form>
