<fieldset class="govuk-fieldset">
  <form [formGroup]="form">
    <div class="govuk-grid-row">
      <app-text-input
        widthClass="govuk-input--width-10"
        containerWidthClass="govuk-grid-column-one-half"
        formControlName="code"
        label="Application code"
        [hint]="codePlaceholder()"
        idPrefix="applicationCode"
        [error]="codeError()"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        widthClass=""
        containerWidthClass="govuk-grid-column-two-thirds"
        formControlName="title"
        label="Application title"
        [hint]="titlePlaceholder()"
        idPrefix="app-code-title"
      />
    </div>

    <div class="govuk-grid-row">
      <app-date-input
        formControlName="lodgementDate"
        label="Lodgement date"
        [hint]="
          lodgementDateDisabled()
            ? 'Lodgement date cannot be changed'
            : 'For example, 27 3 2007'
        "
        idPrefix="lodgement-date"
        [submitted]="submitted() || parentSubmitted()"
        [isSearch]="!parentSubmitted()"
        [disallowFutureDates]="true"
      />
    </div>
  </form>

  <div class="govuk-button-group">
    <button class="govuk-button" type="button" (click)="search()">
      Search
    </button>
    <button
      class="govuk-button govuk-button--secondary"
      type="button"
      (click)="clear()"
    >
      Clear
    </button>
  </div>

  @if (loading()) {
    <p class="govuk-body">Searching…</p>
  } @else if (errored()) {
    <app-alert
      alertType="error"
      title="There is a problem"
      message="We couldn’t fetch application codes. Please try again."
      [allowDismiss]="true"
    />
  } @else {
    @if (
      codesRows.length === 0 &&
      submitted() &&
      (form.value.code || form.value.title)
    ) {
      <app-alert
        alertType="information"
        title="No application codes found"
        message="Try different filters, or retry the search."
        [allowDismiss]="true"
      />
    }

    @if (codesRows.length > 0) {
      <app-sortable-table
        id="codes-table"
        caption="Codes"
        [columns]="codesColumns"
        [data]="codesRows"
        [clientOrServerSort]="'server'"
        [sortKey]="sortField().key"
        [sortDirection]="sortField().direction"
        (sortChange)="onSortChange($event)"
        appMojButtonMenu
      >
        <ng-template #actionsTemplate let-row>
          <div class="govuk-button-group">
            <button type="button" class="govuk-button" (click)="onAddCode(row)">
              Add code
            </button>
          </div>
        </ng-template>
      </app-sortable-table>

      <app-pagination
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        (pageChange)="onPageChange($event)"
      />
    }
  }
</fieldset>
