<app-breadcrumbs
  [items]="[
    { label: 'Applications list', link: '/applications-list' },
    {
      label: 'Applications list details',
      link: '/applications-list/' + vm().id,
    },
  ]"
/>

<h1 class="govuk-heading-xl">Create new entry</h1>

@if (vm().errorFound) {
  <app-error-summary
    [title]="'There is a problem'"
    [items]="vm().summaryErrors"
    (itemSelect)="onCreateErrorClick($event)"
  />
}

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<form [formGroup]="form" novalidate>
  <!-- Applicant section -->
  <ng-template #applicantTpl>
    <app-applicant-section
      [form]="form"
      [applicantType]="form.controls.applicantType.value"
      [personGroup]="personForm"
      [organisationGroup]="organisationForm"
      [submitted]="vm().submitted"
      [errorItems]="applicantErrorItems"
      [selectedStandardApplicantCode]="
        form.controls.standardApplicantCode.value
      "
      (standardApplicantCodeChange)="onStandardApplicantCodeChanged($event)"
      (applicantErrorsChange)="onChildErrors('applicant', $event)"
      [showUpdateButton]="false"
    />
  </ng-template>

  <ng-template #codesTpl>
    <!-- Application code -->
    <app-application-code-search
      [patchedFormData]="form"
      [parentSubmitted]="vm().submitted"
      [lodgementDateDisabled]="false"
      (selectCodeAndLodgementDate)="onCodeSelected($event)"
      (codeSearchErrors)="onChildErrors('codes', $event)"
      (resetParentErrors)="resetParentErrorsFromCodeSearch()"
    />
  </ng-template>

  <ng-template #wordingTpl>
    @if (vm().appCodeDetail; as appCodeDetail) {
      <app-wording-section
        #wordingSection
        [wordingObject]="appCodeDetail.wording"
        [wordingObjectValues]="getWordingObjectValues(appCodeDetail.wording)"
        [wordingSubmitAttempt]="wordingSubmitAttempt()"
        [showAppliedBanner]="wordingAppliedBannerVisible()"
        (wordingFieldsDTO)="onWordingFieldsDTO($event)"
        (appliedBannerDismissed)="onWordingAppliedBannerDismissed()"
        (wordingFieldErrors)="onChildErrors('wording', $event)"
      />
    } @else {
      <div class="govuk-inset-text">Please select an application code.</div>
    }
  </ng-template>

  <ng-template #respondentTpl>
    <app-respondent-section
      [form]="form"
      [personGroup]="forms.respondentPersonForm"
      [organisationGroup]="forms.respondentOrganisationForm"
      [respondentEntryTypeOptions]="respondentEntryTypeOptions"
      [bulkAllowed]="vm().bulkApplicationsAllowed"
      [personTitleOptions]="personTitleOptions"
      [submitted]="respondentSubmittedAndRequired"
      [errorItems]="respondentErrorItems"
    />
  </ng-template>

  <ng-template #civilFeeTpl>
    <app-civil-fee-section
      #civilFeeSection
      [civilFeeColumns]="civilFeeColumns"
      [feeStatusOptions]="feeStatusOptions"
      [feeForm]="civilFeeForm"
      [feeMeta]="feeMeta"
      (addFeeDetails)="onAddFeeDetails($event)"
      (civilFeeErrors)="onChildErrors('civilFee', $event)"
      (offsiteFeeChanged)="onOffsiteFeeChanged($event)"
      [feeRequired]="vm().isFeeRequired"
      [parentSubmitted]="vm().submitted"
      [changePaymentReferenceStateFactory]="buildChangePaymentReferenceState"
    />
  </ng-template>

  <ng-template #notesTpl>
    <app-notes-section
      [form]="form.controls.applicationNotes"
      (notesErrors)="onChildErrors('notes', $event)"
    />
  </ng-template>

  <!-- Accordion -->
  <app-accordion
    [id]="'accordion-default'"
    [items]="[
      { heading: 'Applicant', tpl: applicantTpl, expanded: true },
      { heading: 'Application codes', tpl: codesTpl, expanded: false },
      { heading: 'Wording', tpl: wordingTpl, expanded: false },
      { heading: 'Respondent', tpl: respondentTpl, expanded: false },
      { heading: 'Civil fee', tpl: civilFeeTpl, expanded: false },
      { heading: 'Notes', tpl: notesTpl, expanded: false },
    ]"
  />

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" (click)="onSubmit($event)">
      Create entry
    </button>
    <a
      class="govuk-button govuk-button--secondary"
      [routerLink]="['/applications-list', vm().id]"
    >
      Cancel
    </a>
  </div>
</form>
